/* 
==============================================
CONTENT:	KR Steakhouse
AUTHOR:		Ashley Pollard && Angelia de Wit
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Michroma|Spectral');
@import url("https://use.typekit.net/cco7rbw.css");
@import 'ashley';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $home-bg-color;
	max-width: 100%;
    overflow-x: hidden;
	min-height: 100vh;
	transition: background 0.3s;

	&.home-body {
		color: $home-copy-color;
	}

	&.food {
		background: $food-background-color;
	}

	&.bureau {
		background: $bureau-background-color;
	}

	&.bar {
		background: $bar-background-color;
	}

	&.table {
		background: $table-background-color;
	}

	&.location {
		background: $location-background-color;
	}

	&.hours {
		background: $hours-background-color;
	}
}

.phone-number, h1 {
	color: $home-accent-color;
}

h1 {
	font-family: $url-font;
	font-size: 0.5em;
	opacity: 0;
	animation: ani-across 0.8s forwards;
	animation-delay: 1s;
	display: none;

	@include tablet {
		display: block;
		visibility: visible;
	}

	.food & {
		color: $food-text-color;
	}

	.bureau & {
		color: $bureau-text-color;
	}

	.bar & {
		color: $bar-text-color;
	}

	.table & {
		color: $table-text-color;
	}

	.location & {
		color: $location-text-color;
	}

	.hours & {
		color: $hours-text-color;
	}
}

h2, .description-link {
	font-family: $heading-font;
}

.phone-number, .reservations, .kr-footer {
	font-family: $url-font;
}

nav {
	font-family: $heading-font;
}

footer {
	color: $home-accent-color;
}



/* 2. Content ================================= */


.content {
	width: 100%;
	min-height: 100vh;
	position: relative;
	font-family: $copy-font;
	display: flex;
	flex-direction: column;
	padding: 1.8em;
	justify-content: space-between;
	align-items: center;
	

	&.is-active {
		overflow: hidden;
	}
}

.top-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include tablet {
		flex-direction: row;
		align-items: unset;
		justify-content: space-between;
	}
}

.phone-number, .reservations, .kr-footer {
	font-size: 1.2em;
	animation: ani-fade-in 2s forwards;
	animation-delay: 0.3s;

	.food & {
		color: $food-text-color;
	}

	.bureau & {
		color: $bureau-text-color;
	}

	.bar & {
		color: $bar-text-color;
	}

	.table & {
		color: $table-text-color;
	}

	.location & {
		color: $location-text-color;
	}

	.hours & {
		color: $hours-text-color;
	}
}

.phone-number {
	margin-bottom: 50px;
	text-align: center;

	@include tablet {
		text-align: left;
	}

	@include bigger-desktop {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
		
	span {
		padding: 10px;
	}
}

.hamburger-menu {
	width: 69px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

	&:hover {

		path.menu-circle {
			animation: ani-bounce 0.7s forwards;
		}

		div {
			animation: ani-slide 0.5s forwards;

			&:nth-child(3) {
				animation-delay: 0.1s;
			}
		}
	}

	div {
		width: 32px;
		height: 1px;
		background: $home-bg-color;
		margin: 5px 0;
		z-index: 0;

		&:nth-child(3) {
			margin-left: 10px;
		}

		.food & {
			background: $food-background-color;
		}

		.bureau & {
			background: $bureau-background-color;
		}

		.bar & {
			background: $bar-background-color;
		}

		.table & {
			background: $table-background-color;
		}

		.location & {
			background: $location-background-color;
		}

		.hours & {
			background: $hours-background-color;
		}
	}

	@include tablet {
		display: none;
	}

	&.is-active {

		svg {
			transform: scale(100);
			transform-origin: center;
			transition: 4s;
		}

		div {
			display: none;
		}
	}
}

nav {
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 1.6em;
	display: flex;
	flex-direction: column;
	padding: 90px 20px;
	opacity: 0;
	display: none;

	&.is-active {
		display: flex;
		animation: ani-fade 1s forwards;
		animation-delay: 0.2s;
		z-index: 9;

		@include tablet {
		display: none;
		}
	}

	.close-menu {
		width: 66px;
		height: 69px;
		align-self: center;
		margin: 35px 44px;
		cursor: pointer;
		z-index: 1;

		.food & {
			stroke: $food-background-color;
		}

		.bureau & {
			stroke: $bureau-background-color;
		}

		.bar & {
			stroke: $bar-background-color;
		}

		.table & {
			stroke: $table-background-color;
		}

		.location & {
			stroke: $location-background-color;
		}

		.hours & {
			stroke: $hours-background-color;
		}
	}

	li {
		margin-bottom: 1.6em;
		z-index: 2;
		transition: 0.5s;

		&:hover {
			color: $home-copy-color;

			.food & {
				color: $food-background-color;
			}

			.bureau & {
				color: $bureau-background-color;
			}

			.bar & {
				color: $bar-background-color;
			}

			.table & {
				color: $table-background-color;
			}

			.location & {
				color: $location-background-color;
			}

			.hours & {
				color: $hours-background-color;
			}
		}

		a {
			color: #fff;
			transition: 0.5s;

			&:hover {
				color: $home-copy-color;

				.food & {
					color: $food-background-color;
				}

				.bureau & {
					color: $bureau-background-color;
				}

				.bar & {
					color: $bar-background-color;
				}

				.table & {
					color: $table-background-color;
				}

				.location & {
					color: $location-background-color;
				}

				.hours & {
					color: $hours-background-color;
				}
			}
		}

		&.more {
			cursor: pointer;

			ul {
				font-size: 0.6em;
				border-left: 1px solid;
				margin: 24px;
				padding: 18px;
				opacity: 0;
				transition: 0.3s ease-out;

				&.is-active {
					opacity: 1;
				}
			}

			li {
				margin-bottom: 1em;

				a {
					color: #fff;

					&:hover {
						color: $home-copy-color;

						.food & {
							color: $food-background-color;
						}

						.bureau & {
							color: $bureau-background-color;
						}

						.bar & {
							color: $bar-background-color;
						}

						.table & {
							color: $table-background-color;
						}

						.location & {
							color: $location-background-color;
						}

						.hours & {
							color: $hours-background-color;
						}
					}
				}
			}
		}
	}
}

.reservations {
	color: $home-copy-color;
	display: none;
	text-decoration: none;
	transition: 0.5s;

	@include tablet {
		display: block;
	}
		
	@include bigger-desktop {
		transform: rotate(-90deg);
		transform-origin: 0;
		position: absolute;
		top: 60%;
		animation: ani-fade-in-res 2s forwards;
		animation-delay: 0.3s;
	}	

	&:hover {
		color: $home-accent-color;

		.food & {
			color: $food-main-links;
		}

		.bureau & {
			color: $bureau-main-links;
		}

		.bar & {
			color: $bar-main-links;
		}

		.table & {
			color: $table-main-links;
		}

		.location & {
			color: $location-main-links;
		}

		.hours & {
			color: $hours-main-links;
		}
	}
}

.middle-group {

	&.is-active {
		z-index: -9999;
	}

	@include tablet {
		margin-top: 50px;
	}

	@include desktop {
		margin-top: 30px;
	}

	ul.main-content {
		font-size: 2.3em;
		line-height: 1.7;
		animation: ani-fade-down 2.5s forwards;

		@include tablet {
			font-size: 3.5em;
			min-width: 620px;
			max-width: 620px;
			line-height: 1.3;
		}

		@include desktop {
			font-size: 4.1em;
			max-width: 814px;
		}
		
		&.a-child-is-open {
			@include tablet {
			}

			h1, li {
				visibility: hidden;
			}
			.nav-dash {
				@include tablet {
					visibility: hidden;
				}
			}
		}

		.nav-dash {
			display: none;

			@include tablet {
				display: inline;

				.food &, 
				.bureau &,
				.bar &,
				.table &,
				.location &,
				.hours & {
					color: #000;
					opacity: .5;
				}
			}
		}

		li {
			transition: 0.2s;

			.close-svg {
				width: 66px;
				height: 69px;
				display: none;
				cursor: pointer;

				@include tablet {

					&.open-content{
						display: block;
						position: absolute;
						left: 155%;
						top: -170%;
					}

					.close-menu {

						.food & {
							stroke: $food-main-links;
						}

						.bureau & {
							stroke: $bureau-main-links;
						}

						.bar & {
							stroke: $bar-main-links;
						}

						.table & {
							stroke: $table-main-links;
						}

						.location & {
							stroke: $location-main-links;
						}

						.hours & {
							stroke: $hours-main-links;
						}
					}
				}

				@include desktop {
					left: 113%;
					top: 0;
				}
			}

			h2{

				&:hover {
					opacity: 1;
				}
			}
		
			.descriptionDiv {
				position: relative;
				font-size: 19px;
				width: 100%;
				padding: 0px;
				transition-property: max-height, padding;
				transition-duration: 0.8s, 0s;
				transition-delay: 0s, 0.3s;
				display: none;

				@include tablet {
					position: absolute;
					max-height: 1000px;
					font-size: 16px;
				}
			
				.panel-img {
			
					@include tablet {
						position: absolute;
						z-index: -999;
					}
				}
			
				.description-link {
					margin: 20px 0px;
					font-size: 17px;

					@include tablet {
						width: 400px;
						font-size: 16px;
					}
				}
			}

			p {

				@include tablet {
					width: 300px;
				}
			}
			
			.preview-content {
				display: none;

				@include tablet {
					width: 350px;
				}
			}

			&.preview {

				&:last-child {
					margin-bottom: 60px;

					@include tablet {
						margin-bottom: 0px;
					}
				}

				&:nth-of-type(-n+4) {

					@include tablet {
						margin-bottom: 100px;
					}
				}

				h2 {
					margin-bottom: 15px;
				}

				.descriptionDiv {
					display: block;


					@include tablet {
						text-align: left;
					}

					&.hoursDescription {

						.preview-content {
							margin-bottom: 2px;
						}
					}

					&.locationDescription {

						.preview-content {
							margin-bottom: 2px;
						}
					}
				}

				.preview-content {
					display: block;
					width: 100%;
					max-height: 1000px;
					margin-bottom: 20px;

					@include tablet {
						width: 300px;
					}
				}
			}

			.open-content {
				visibility: hidden;
				width: 100%;

				@include tablet {
					width: 320px;
				}
			}

			&.open {
				visibility: visible;

				.open-content {
					visibility: visible;
				}

				&:nth-of-type(-n+4) {

					@include tablet {
						margin-bottom: 0px;
					}
				}
			}
			
			@include tablet {
				display: inline-block;
				position: relative;

			}

			&.food {

				@include tablet {

					.close-svg {
						left: 266%;
						top: -125%;
					}

					.panel-img {
						left: 194%;
						top: -49%;
					}
				}

				@include desktop {

					.close-svg {
						left: 366%;
						top: -142%;
					}

					.panel-img {
						width: 360px;
						left: 215%;
						top: -96%;
					}
				}
			}

			&.bureau {

				@include tablet {

					.close-svg {
						left: 86%;
						top: -80%;
					}

					.descriptionDiv {
						text-align: right;
					}

					.preview-content {
						width: auto;
					}

					.open-content {
						width: auto;
					}

					.panel-img {
						width: 300px;
						left: -48%;
						top: 60%;
					}

					.description-link {
						text-align: -webkit-right;
					}
				}

				@include desktop {

					.close-svg {
						left: 102%;
						top: -63%;
					}

					.panel-img {
						width: 400px;
						left: -64%;
						top: 52%;
					}
				}

				@include bigger-desktop {

					.panel-img {
						width: 430px;
						left: -64%;
						top: 52%;
					}
				}
			}

			&.bar {

				@include tablet {

					.close-svg {
						left: 162%;
						top: -190%;
					}

					.panel-img {
						left: 124%;
						top: -70%;
					}
				}

				@include desktop {
					.close-svg {
						left: 218%;
						top: -175%;
					}

					.panel-img {
						width: 360px;
						left: 129%;
						top: -100%;
					}
				}
			}

			&.table {

				@include tablet {

					.close-svg {
						left: 37%;
						top: -95%;
					}

					.panel-img {
						left: -102%;
						top: -52%;
					}
				}

				@include desktop {

					.close-svg {
						left: 65%;
						top: -71%;
					}

					.panel-img {
						width: 450px;
						left: -128%;
						top: -84%;
					}
				}
			}

			&.hours {

				@include tablet {

					.close-svg {
						left: 195%;
						top: -258%;
					}

					.panel-img {
						width: 350px;
						left: 120%;
						top: -254%;
					}
				}

				@include desktop {

					.close-svg {
						left: 286%;
						top: -264%;
					}

					.panel-img {
						width: 570px;
						left: 126%;
						top: -300%;
					}
				}
			}

			&.location {

				@include tablet {

					.close-svg {
						left: 58%;
						top: -58%;
					}

					.preview-content {
						text-align: center;
					}

					.panel-img {
						width: 270px;
						left: -86%;
						top: -395%;
					}
				}

				@include desktop {

					.panel-img {
						width: 360px;
						left: -112%;
						top: -610%;
					}
				}
			}

			a { // this is currently targeting the a in the h2
				text-decoration: none;
				text-transform: lowercase;
				color: $home-copy-color;

				.food & {
					color: $food-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}

				.bureau & {
					color: $bureau-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}

				.bar & {
					color: $bar-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}

				.table & {
					color: $table-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}

				.location & {
					color: $location-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}

				.hours & {
					color: $hours-text-color;
					
					@include tablet {
						color: #000;
						opacity: .5;
					}
				}
			}

			.food & {
				&:nth-of-type(1) {
					a {
						color: $food-main-links;
						opacity: 1;
					}

					h2 {
						a {
							text-decoration: underline;
							text-decoration-color: white;
						}
					}
				}
			}

			.bureau & {
				&:nth-of-type(2) {
					a {
						color: $bureau-main-links;
						text-decoration: underline;
						text-decoration-color: white;
						opacity: 1;
					}
				}
			}

			.bar & {
				&:nth-of-type(3) {
					a {
						color: $bar-main-links;
						text-decoration: underline;
						text-decoration-color: white;
						opacity: 1;
					}
				}
			}

			.table & {
				&:nth-of-type(4) {
					a {
						color: $table-main-links;
						text-decoration: underline;
						text-decoration-color: white;
						opacity: 1;
					}
				}
			}

			.hours & {
				&:nth-of-type(5) {
					a {
						color: $hours-main-links;
						text-decoration: underline;
						text-decoration-color: white;
						opacity: 1;
					}
				}
			}

			.location & {
				&:nth-of-type(6) {
					a {
						color: $location-main-links;
						text-decoration: underline;
						text-decoration-color: $location-text-color;
						opacity: 1;
					}
				}
			}
		}
	}
}

footer {
	width: 100%;
	max-width: 550px;
	text-transform: lowercase;
	display: flex;
	justify-content: center;
	transition: 0.5s;

	&.pad-footer {
		margin-top: 60px;

		@include tablet {
			margin-top: 0px;
		}
	}

	.food & {
		color: $food-text-color;
	}

	.bureau & {
		color: $bureau-text-color;
	}

	.bar & {
		color: $bar-text-color;
	}

	.table & {
		color: $table-text-color;
	}

	.location & {
		color: $location-text-color;
	}

	.hours & {
		color: $hours-text-color;
	}

	@include tablet {
		width: 100%;
		max-width: unset;
		justify-content: space-between;
		align-items: flex-end;
	}

	&.is-active {
		z-index: -100;
	}

	.social {
		display: flex;
		justify-content: space-between;
		width: 85%;
		max-width: 300px;

		@include tablet {
			width: 33%;
			max-width: 220px;
		}

		svg {
			position: absolute;
			width: 50px;
			height: 50px;
		}

		li {
			display: flex;
			justify-content: center;
			align-items: center;

			path.icon-path {

				.food & {
					stroke: $food-text-color;
				}

				.bureau & {
					stroke: $bureau-text-color;
				}

				.bar & {
					stroke: $bar-text-color;
				}

				.table & {
					stroke: $table-text-color;
				}

				.location & {
					stroke: $location-text-color;
				}

				.hours & {
					stroke: $hours-text-color;
				}
			}

			&:hover {
				transition: 0.3s;

				path {
					transition: 0.5s;
				}

				path.social-circle {
					fill: $home-accent-color;
					animation: ani-bounce 0.8s forwards;

					.food & {
						fill: $food-text-color;
					}

					.bureau & {
						fill: $bureau-text-color;
					}

					.bar & {
						fill: $bar-text-color;
					}

					.table & {
						fill: $table-text-color;
					}

					.location & {
						fill: $location-text-color;
					}

					.hours & {
						fill: $hours-text-color;
					}
				}

				path.icon-path {
					stroke: $home-bg-color;
					transition-delay: 0.3s;

					.food & {
						stroke: $food-background-color;
					}

					.bureau & {
						stroke: $bureau-background-color;
					}

					.bar & {
						stroke: $bar-background-color;
					}

					.table & {
						stroke: $table-background-color;
					}

					.location & {
						stroke: $location-background-color;
					}

					.hours & {
						stroke: $hours-background-color;
					}
				}
			}
		}

		.icon {
			width: 48px;
			height: 45px;
			display: block;	
		}
	}

	.kr-footer {
		display: none;

		@include tablet {
			display: flex;
			flex-direction: column;
			text-align: right;
		}

		@include desktop {
			width: 51%;
			min-width: 500px;
			max-width: 510px;
			flex-direction: row;
			align-items: flex-end;
		}

		ul {
			display: flex;
			flex-direction: column;
			height: 100px;
			justify-content: space-between;
			opacity: 0;

			@include desktop {
				width: 100%;
				max-width: 800px;
				height: unset;
				flex-direction: row;
				transition: 0.2s;
			}

			&.is-active {
				opacity: 1;
				margin-bottom: 55px;

				@include desktop {
					margin-bottom: unset;
					transform: translate(30px);
				}
			}

			a {
				color: $home-accent-color;
			}
		}

		.kr-text {
			width: 27%;
			min-width: 162px;
			display: flex;
			align-items: flex-end;
			flex-direction: column;

			@include desktop {
				flex-direction: row;
			}

			&.is-active {

				@include desktop {

					.kr-text-div {
						text-align: left;
					}
				}
			}

			.kr-border {
					
				transition: 0.2s;
				transform-origin: right;

				&.is-active {
					transform: rotate(90deg);

					@include desktop {
						transform: rotate(90deg) translate(15px);
					}
				}
			}

			.kev-name {
				cursor: pointer;
				transition: 0.5s;

				&:hover {
					color: $home-copy-color;

					.food & {
						color: $food-main-links;
					}

					.bureau & {
						color: $bureau-main-links;
					}

					.bar & {
						color: $bar-main-links;
					}

					.table & {
						color: $table-main-links;
					}

					.location & {
						color: $location-main-links;
					}

					.hours & {
						color: $hours-main-links;
					}

				}
			}
		}
	}
}

// navigation link styles

ul li{
	transition: opacity 0.4s ease-out;
}

// ul:hover li, ul:active a:not(.open) {
// 	opacity: 0;
// }

// PANEL STUFF

$navItems: 
	(food, $food-text-color, $food-main-links)
	(bureau, $bureau-text-color, $bureau-main-links)
	(bar, $bar-text-color, $bar-main-links)
	(table, $table-text-color, $table-main-links)
	(location, $location-text-color, $location-main-links)
	(hours, $hours-text-color, $hours-main-links)
;



@each $navItem, $color, $description-color in $navItems {
    .#{$navItem}Description {
		color: $color;
		
		.description-link {

			.#{$navItem}-a {
				color: $description-color;
			}
		}

		&.preview {
			.food & {
				color: $food-text-color;
			}
	
			.bureau & {
				color: $bureau-text-color;
			}
	
			.bar & {
				color: $bar-text-color;
			}
	
			.table & {
				color: $table-text-color;
			}
	
			.location & {
				color: $location-text-color;
			}
	
			.hours & {
				color: $hours-text-color;
			}
		}
	}
}



